In [69]:
import pandas as pd
import pickle

In [70]:
file = open('newcsvfile.csv', 'r')

In [71]:
file = file.readlines()

In [72]:
df = pd.read_csv('newcsvfile.txt', delimiter='\t')

In [73]:
for i in file:
    i = i.split('",')
    if len(i) != 3:
        try:
            xyz = i[1].split(',')
            if len(xyz) == 2:
                i[0] = i[0].extend(xyz)
                temp.append(i[0])
            else:
                xyz = i[0].split(',')
                xyz = xyz.extend(i[1])
                temp.append(xyz)
        except:
            pass
    else:
        temp.append(i)

In [74]:
df.tail()

,Line 1,Line 2,Line 3
1200,12.5 million (16.9%) children and adolescents ...,facts statistics physical activity data from...,1
1201,12.5 million (16.9%) children and adolescents ...,on this page key findings in 20092010 357 of u...,1
1202,12.5 million (16.9%) children and adolescents ...,data from 20092010 indicates that over us adul...,1
1203,12.5 million (16.9%) children and adolescents ...,obesity health life long physical activity ...,1
1204,12.5 million (16.9%) children and adolescents ...,prevalence of overweight among children and ad...,1

In [75]:
temp = []

In [76]:
for i in range(len(df)):
    temp.append([df.iloc[i][0], df.iloc[i][1], [0,1]])

In [77]:
len(temp)

1205

In [78]:
pickle.dump(temp, open('trainingpositive.p', 'w'))